jwt:
  expiration: 640000000
  secret: WordToAddInTokenAccess

server:
  port: ${PORT:8081}
spring:
  application:
    name: auth-service

  #Database
  datasource:
    driver-class-name: org.postgresql.Driver
    username: admin
    password: 123
    url: jdbc:postgresql://localhost:5432/db_user

  # JPA properties
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true

  # Logger configuration
  logging:
    pattern:
      console: "%d %-5level %logger : %msg%n"
    level:
      org.springframework: info
      org.hibernate: debug